.logout {
  margin-left: 11em;
  margin-top: -1em;

}
.logout a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

div .chart {
  /* background-color: red; */
  margin-top: 10em;
  height: 400px;
  position: absolute;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-con {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-con {
    display: block;
}

section {
  /* background-color: red; */
  margin-top: 150px;
}

Bar {
  background-color: blue;
}
