.Container {
  /* background-color: red; */
  /* border: 5px solid black; */
  height: 27em;
  overflow:scroll;
}


.outer-div {
  background-color: white;
  /* border-bottom: 5px dotted black; */
  padding: 25px;
  height: 50px;
  overflow: scroll;
}

.input[type=checkbox] {
    zoom: 4;
    margin-top: 0px;
    float:right;
}

.list {
  /* background-color: white; */
  color: black;
  list-style-type: none;
  font-size: 1.5em;
  height: 4.8em;
  margin-left: -1.7em;
}
