.alcoholcontainer {
  background-color: lightblue;
  height: 100%;
  margin-top: -1.3em;
}

.logout {
  margin-left: 11em;
  margin-top: -1em;

}
.logout a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

div .chart {
  background-color: red;
  margin-top: -35em;
  margin-left: 1.4em;
  height: 25em;
  width: 23em;
  position: absolute;
}

.soon img{
  margin-top: -1em;
  margin-left: -3em;
  height: 25em;
  width: 25em;
}

.head {
  position: absolute;
  background-color: red;
  margin-top: 2em;
  margin-left: 3em;
}
