.Container {
  /* position: fixed; */
  border: 5px solid red;
  text-align: center;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  height: 44em;
  width: 25em;
  margin: auto;
  margin-top: 1em;
  background-color: #282c34;
}

.nav {
  position: absolute;
  margin-top: 34em;
  background-color: red;
  width: 24.97em;
  height: 5em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.topScreen {
  background-color: black;
  /* background: red; */
  /* position: absolute; */
  overflow: hidden;
  height: 4.5em;
  width: 25em;;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  /* z-index: 1; */
}

 /*  ///////////////////////////////  logout STYLE*/
/*
#logout {
  background-color: blue;
  color: white;
  font-size: 20px;
  text-decoration: none;
  float: right;
  margin-top: 3.6em;
  z-index: 1;
} */


#bottomScreen {
  overflow: hidden;
  background-color: black;
  position: absolute;
  margin-left: .1em;
  width: 96%;
  height: 5em;
  margin-top: 39em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.goBack {
  position: absolute;
  background-color: red;
  text-decoration: none;
  margin-top: 30em;
}

.homeBtn {
  /* background-color: black; */
  width: 3.5em;
  height: 3.5em;
  margin: auto;
  border-radius: 50%;
  border: 5px solid silver;
}
