

.nav {
  position: absolute;
  margin-top: 34em;
  background-color: #8693AB;
  width: 25em;;
  height: 5em;
}

.nav a {
  color: white;
  padding-right: 9em;
  margin-right: 5em;
  text-decoration: none;
}

.back {
  position: absolute;
  background-color: blue;
  width: 10em;
  height: 5em;
  margin-top: .6em;
  float: left;
}

/* .goBack {
  position: absolute;
  background-color: red;
  text-decoration: none;
  margin-top: 30em;
} */

.logout{
  position: absolute;
  background-color: blue;
  width: 10em;
  height: 5em;
  margin-left: 10em;
}

.topScreen {
  background-color: black;
  /* background: red; */
  /* position: absolute; */
  overflow: hidden;
  height: 4.5em;
  width: 25em;;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}

#bottomScreen {
  overflow: hidden;
  background-color: black;
  position: absolute;
  margin-left: .1em;
  width: 96%;
  height: 5em;
  margin-top: 39em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.homeBtn {
  /* background-color: black; */
  width: 3.5em;
  height: 3.5em;
  margin: auto;
  border-radius: 50%;
  border: 5px solid silver;
}
