.SelectionContainer {
  /* border-radius: 8%; */
  /* height: 37.8em; */
  /* width: 18.09em; */
  /* background-color: black; */
  /* background-color: #18009E; */
  /* background-color: #2F2DC3; */
  /* background-color:  #E9573F; */
  /* background-color: #FC6E51; */
  position: absolute;
  background-color:  #4281A4;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border: 2px solid grey;
  position: absolute;
  height: 44em;
  width: 25em;
}



/*  ///////////////////////////////  navBAr  STYLE*/



/* .topOfScreen {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  margin-top: 0em;
  margin-left: -.2em;
  height: 4.5em;
  width: 97.3%;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  z-index: 1;
} */

 /*  ///////////////////////////////  logout STYLE*/

/* #logout {
  background-color: blue;
  color: white;
  font-size: 20px;
  text-decoration: none;
  float: right;
  margin-top: 3.6em;
} */
/*  ///////////////////////////////  coffee STYLE*/

.wrapper{
  position: absolute;
  background-color: red;
  margin: auto;
  transform: translate(-80%, -65%);
  border-radius: 5%;
  height: 14em;
  width: 10.5em;
  margin-top: 15.47em;
  margin-left: 9.4em;
}

.cup{
  box-shadow: 1px 3px 4px rgba('0, 0, 0, 0.3'),inset -2px -2px 3px 1px rgba(0,0,0,.2);
  width: 100px;
  height: 100px;
  margin-left: 2em;
  margin-top: 3em;
  /* margin-top: 10em; */
  background-color: #60463B;
  border-radius: 5px;
  position: relative;
}

.handle{
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3),inset -2px -2px 3px 1px rgba(0,0,0,.2);
  position: absolute;
  width: .2em;
  height: 20px;
  /* right: -23px; */
  /* top: 40px; */
  border: 15px solid #37323E;
  /* border-left: 0px; */
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  z-index: -1;
}

.smoke:before {
  color: white;
  position: absolute;
  content: "";
  background: transparent;
  width: 145px;
  height: 30px;
  top: -35px;
  box-shadow: 0px 25px 20px -9px white;
  opacity: 0;
  animation: smoke 2s linear infinite;
  transition: 0.5s linear;
  margin-left: -100px;
}

.smoke:after{
  /* position: absolute; */
  content: "";
  background: transparent;
  width: 145px;
  height: 30px;
  top: -35px;
   box-shadow: 0px 25px 20px -9px red;
  opacity: 1;
  animation: smoke1 4s linear 2s infinite;
  transition: 0.5s linear;
  margin-left: -100px;

}

@keyframes smoke {
  0%{
   transform: translateY(0px);
  }
  50%{
    transform: translateY(-35px);
    opacity: 1;
  }
  70%{
    transform: translateY(-55px);
    opacity: 1;
    width: 75%;
    /* margin-left: 20px; */
  }

  80%{
   transform: translateY(-115px);
    opacity: 0;
    width: 20%;
    /* margin-left: 40px; */
  }

}

@keyframes smoke1 {
  0%{
   transform: translateY(0px);
  }
  50%{
    transform: translateY(-45px);
    opacity: 1;
  }
  70%{
    transform: translateY(-65px);
    opacity: 1;
    width: 50%;
    /* margin-left: 30px; */
  }

  100%{
   transform: translateY(-145px);
    opacity: 0;
    width: 0%;
    /* margin-left: 60px; */
  }

}


/*////////////////////////  the beer container ///////////////////*/
/*  */
/*  */
/* div .action {
  position: absolute;
  background-color: blue;
  margin-top: 100em;
  background-color: #656D78;
  height: 100em;
} */

#beerThing {
  position: absolute;
  /* height: 14em;
  width: 10.5em; */
  background-color: lightblue;
  border-radius: 5%;
  /* margin-left: 5em; */
  /* margin-top: -3em; */
  margin-left: 13.5em;
  /* margin-right: auto; */
  height: 14em;
  width: 10.5em;
  margin-top: 6.4em;
  margin-left: 13.5em;
}

#keg {
    position: absolute;
    height: 5em;
    width: 5em;
    background-color: #656D78;
    border-right: solid 20px #434A54;
    margin-left: 3em;
    margin-top: -2em;
}

#pipe {
    position: absolute;
    height: 30px;
    width: 10px;
    left: 20px;
    background-color: #CCD1D9;
}

#pipe:before {
    position: absolute;
    display: block;
    content: " ";
    height: 20px;
    width: 30px;
    top: -5px;
    left: 5px;
    background: linear-gradient(to bottom, #CCD1D9 50%, #AAB2BD 50%);
    border-radius: 0 10px 10px 0;
}

#pipe:after {
    position: absolute;
    display: block;
    content: " ";
    width: 10px;
    background-color: rgba(255, 206, 84, 0.5);

    animation: flow 5s ease infinite;
}

@keyframes flow {
    0%, 15% {
        top: 30px;
        height: 0px;
    }
    20% {
         height: 125px;
    }
    40% {
        top: 30px;
        height: 85px;
    }
    55% {
        top: 30px;
        height: 60px;
    }
    60%, 100% {
        top: 70px;
        height: 0px;
    }
}

#pipe-front {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 25px;
    left: 5px;
    background-color: #F5F7FA;
    border-radius: 10px;
    border: solid 3px #CCD1D9;
}

#pipe-handle {
    transform-origin: center bottom;
    position: absolute;
    width: 10;
    height: 5px;
    top: -20px;
    left: 5px;
    border-style: solid;
    border-width: 50px 10px 0 10px;
    border-color: black transparent transparent transparent;
    animation: handle 5s ease infinite;
}

#pipe-handle:before {
    position: absolute;
    top: -60px;
    left: -10px;
    display: block;
    content: ' ';
    width: 20px;
    height: 10px;
    background-color: #CCD1D9;
    border-radius: 5px 5px 0 0;
}
#pipe-handle:after {
    position: absolute;
    top: -20px;
    left: -5px;
    display: block;
    content: ' ';
    width: 10px;
    height: 20px;
    background-color: #CCD1D9;
}
@keyframes handle {
    0%, 10% {
       transform: rotate(0deg);
    }
    20%, 50% {
         transform: rotate(-90deg);
    }
    60%, 100% {
        transform: rotate(0deg);
    }
}

.glass {
    background-color: yellow;
    position: absolute;
    height: 6em;
    width: 70px;
    /* bottom: 0; */
    margin-top: 3em;
    margin-left: 3em;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 5px;
    /* animation: slide 5s ease forwards infinite; */
}

@keyframes slide {
    0% {
        opacity: 0;
        left: 0;
    }
    20%, 80% {
        opacity: 1;
        left: 300px;
    }
    100% {
         opacity: 0;
        left: 600px;
    }
}

.front-glass {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.beer {
    position: absolute;
    bottom: 15px;
    margin: 0 5px;
    /*height: 80%;*/
    width: 60px;
    background-color: rgba(255, 206, 84, 0.8); /* #FFCE54*/
    border-radius: 0 0 5px 5px;
    border-top: solid 0px rgba(255, 206, 84, 0.8);
    animation: fillup 5s ease infinite;
}
.beer:after {
    position: absolute;
    display: block;
    content: " ";
    /*height: 20px;*/
    width: 100%;
    background-color: white;
    /*top: -20px;*/
    border-radius: 5px 5px 0 0;

    animation: fillupfoam 5s linear infinite, wave 0.5s alternate infinite;
}

.handle {
    position: absolute;
    right: -20px;
    top: 20px;
}
.handle .top-right {
    height: 20px;
    width: 10px;
    border-top: solid 10px rgba(255, 255, 255, 0.4);
    border-right: solid 10px rgba(255, 255, 255, 0.4);
    border-top-right-radius: 20px;
}
.handle .bottom-right {
    height: 20px;
    width: 10px;
    border-bottom: solid 10px rgba(255, 255, 255, 0.4);
    border-right: solid 10px rgba(255, 255, 255, 0.4);
    border-bottom-right-radius: 20px;
}

@keyframes fillup {
    0%, 20% {
        height: 0px;
        border-width: 0px;
    }
    40% {
        height: 40px;
    }
    80%, 100% {
        height: 80px;
        border-width: 5px;
    }
}
@keyframes fillupfoam {
    0%, 20% {
        top: 0px;
        height: 0px;
    }
    60%, 100% {
        top: -14px;
        height: 15px;
    }
}
@keyframes wave {
    from {
        transform: skew(0, -3deg);
    }
    to {
        transform: skew(0, 3deg);
    }
}

.chart img{
  background-color: lightblue;
  border-radius: 5%;
  margin-top: -6em;
  margin-left: .5em;
  width: 17em;
  height: 10em;
}

/*  ///////////////////////////////////////////////  */
#summary {
  position: absolute;
  height: 12em;
  width: 23em;
  background-color: lightblue;
  border-radius: 5%;
  /* margin-left: 5em; */
  /* margin-top: -5em; */
  /* margin-left: .5em; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: 1em;
  margin-top: 22em;
  /* margin-left: 9.4em; */

}

/*  ///////////////////////////////////////   Bottom of screen style*/
#bottomOfScreen {
  overflow: hidden;
  background-color: black;
  position: fixed;
  /* bottom: 93.5%; */
  top: 40.1em;
  margin-left: -.05em;
  width: 97.3%;
  height: 5em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.homeBtn {
  /* background-color: black; */
  width: 3.5em;
  height: 3.5em;
  margin: auto;
  border-radius: 50%;
  border: 5px solid silver;
}
